<!DOCTYPE html>
<html>
  <head>
    <title><%= settings.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container" role="main"></div>

    <script src="/javascripts/app.js"></script>
    <script>
      new App.Router();
      Backbone.history.start();
    </script>
  </body>
</html>
